body {
	flex-direction: column;
	-ms-flex-direction: column;
	text-align: center;
	font-size: 13px;
	margin-top: 1em;
}

.wrapper {
	/*width: 725px;
	height: 745px;*/
	background-color: #DDD;
}

.boardbottom {
	height: 30px;
	letter-spacing: 3px;
}

.wrapper, .boardface {
	border: 1px solid black;
	border-radius: 15px;
}

.boardface {
	background-color: #F0F0F0;
	position: relative;
	/*width: 725px;
	height: 715px;*/
	margin-top: -1px;
	margin-left: -1px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.boardface, .head {
	font-family: 'Quattrocento', serif;
}

.head {
	font-size: 1.1em;
	font-weight: bold;
	border: 1px solid #333;
	border-radius: 8px;
	position: relative;
	overflow: hidden;
}

.head, .tuple {
	position: absolute;
}

.tuple, .head {
	cursor: pointer;
	border: 1px solid black;
	border-top: none;
	background-color: #AAFF9B;
	overflow: hidden;
	opacity: 0.4;
	transition-property: height, opacity;
	transition-duration: 0.3s, 0.3s;
	transition-timing-function: ease, ease;
}

.head, .tuple {
	width: 45px;
	height: 45px;
	margin: 0 10px 10px 0;
}

.head {
	width: 35px;
	height: 43px;
	margin: 2px 15px 10px 5px;
	transition-duration: 0.2s;
}

.head.all {
	height: 31px;
	opacity: 1;
}

.head.needed:active {
	height: 28px;
}

.head > div {
	width: 35px;
	height: 28px;
	margin-top: -1px;
	margin-left: -1px;
}

.question, .head, .head > div, .tuple {
	box-sizing: border-box;
	border-radius: 10px;
	border: 1px solid black;
	text-decoration: none;
}

.tuple.needed:active {
	height: 41px;
}

.tuple.showing  {
	height: 58px;
	opacity: 1;
}

.wrapper.playing .tuple.showing {
	opacity: 0.6;
}

.question {
	width: 45px;
	height: 42px;
	margin-top: -1px;
	margin-left: -1px;
	background-color: #D1FFBC;
}

.answer {
	margin-top: 1px;
}

.head > div { background-color: white;}
.head { background-color: #CCC;}

.high .question { background-color: #EED4FF; }
.high.tuple { background-color: #F2BFFF; }
.ten .question { background-color: #FFE7B3; }
.ten.tuple { background-color: #FFDB95; }
.same .question { background-color: #D0EEFF; }
.tuple.same { background-color: #B4DEFF; }
.diff .question { background-color: #FFE3DC; }
.tuple.diff { background-color: #FFCCC5; }
.easy .question { background-color: #FFFDD7; }
.easy.tuple { background-color: #FFFC98; }


.question, .head > div, body, .boardbottom {
	display: -webkit-flexbox;
	display: -webkit-flex;
	display: -ms-flexbox;
	-ms-flex-pack: center;
	display: flex;
	justify-content: center;
	align-items: center;
	-ms-flex-align: center;
}

/*
.row0 { bottom: 715px; }
.row1 { bottom: 660px; }
.row2 { bottom: 605px; }
.row3 { bottom: 550px; }
.row4 { bottom: 495px; }
.row5 { bottom: 440px; }
.row6 { bottom: 385px; }
.row7 { bottom: 330px; }
.row8 { bottom: 275px; }
.row9 { bottom: 220px; }
.row10 { bottom: 165px; }
.row11 { bottom: 110px; }
.row12 { bottom: 55px; }
.row13 { bottom: 0; }

.col0 { right: 715px; }
.col1 { right: 660px; }
.col2 { right: 605px; }
.col3 { right: 550px; }
.col4 { right: 495px; }
.col5 { right: 440px; }
.col6 { right: 385px; }
.col7 { right: 330px; }
.col8 { right: 275px; }
.col9 { right: 220px; }
.col10 { right: 165px; }
.col11 { right: 110px; }
.col12 { right: 55px; }
.col13 { right: 0; }
*/

.notneeded, .notneeded.all {
	opacity: 0.1;
}

.needed.active {
	opacity: 1;
	animation: pulse 0.3s infinite alternate;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 28px rgb(204,169,44);
  }
  45% {
      box-shadow: 0 0 50px rgb(255,255,255);
  }
  55% {
    box-shadow: 0 0 28px rgb(204,169,44);
  }
  100% {
    box-shadow: 0 0 28px rgb(204,169,44);
  }
}

.didwrong .boardface {
	animation: punish 0.15s infinite alternate;
}

.won .boardface {
	animation: celebrate 0.15s infinite;
}

@keyframes punish {
  0% {
    background-color: #FFC1C0;
  }
  100% {
    background-color: #FF8E89;
  }
}

@keyframes celebrate {
  0% {
    background-color: gold;
  }
  100% {
    background-color: yellow;
  }
}

